{% extends 'layout.html' %}

{% block content %}

<div class="page-inner">
    <div class="page-title">
        <h3>Медіа</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="/admin">Головна</a></li>
                <li class="active">Створення нового альбому</li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Альбом</h4>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="/admin/media/updateAlbumPost">
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">Назва</label>
                                <div class="col-sm-10">
                                    <input type="hidden" name="uri" value="{{album.uri}}">
                                    <input type="hidden" id="date" value="{{date}}">
                                    <input type="text" value="{{album.title}}" required class="form-control" name="title" id="title" placeholder="Назва">
                                </div>
                            </div>
                            <br><br><br>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Дата проведення</label>
                                <div class="col-sm-10">
                                    <input type="text" name="date" class="form-control date-picker">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success">Обновити</button>
                        </form>

                        <div class="col-md-12">

                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h3 class="panel-title"></h3>
                                </div>
                                <div class="panel-body">
                                    {% for x, photo in photos %}
                                    <form style="float:left; width: 400px">
                                        <div style="width: 400px;height: 200px;background: url({{photo.path}}) 50% 50% no-repeat;background-size: cover"></div>
                                        <input type="number" class="elOrder" value="{{photo.order}}">
                                        <input type="hidden" class="elId" value="{{photo._id.toString()}}">
                                        <button class="remove">Видалити</button>
                                        <button class="save">Зберегти порядок</button>
                                    </form>
                                    {% endfor %}
                                </div>
                            </div>



                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Upload photo</h3>
                                </div>
                                <div class="panel-body">
                                    <form id="uploadPhoto" action="/admin/media/uploadMedia" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="album" id="album" value="{{album._id.toString()}}">
                                        <input type="file" id="input" name="file" multiple>
                                        <input type="submit" value="Upload">
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- Row -->

    </div><!-- Main Wrapper -->
    {% include 'widget/footer.html' %}
</div><!-- Page Inner -->

<script src="/admin/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/admin/plugins/pace-master/pace.min.js"></script>
<script src="/admin/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/admin/plugins/switchery/switchery.min.js"></script>
<script src="/admin/plugins/uniform/jquery.uniform.min.js"></script>
<script src="/admin/plugins/offcanvasmenueffects/js/classie.js"></script>
<script src="/admin/plugins/offcanvasmenueffects/js/main.js"></script>
<script src="/admin/plugins/waves/waves.min.js"></script>
<script src="/admin/plugins/3d-bold-navigation/js/main.js"></script>
<script src="/admin/plugins/summernote-master/summernote.min.js"></script>
<script src="/admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="/admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="/admin/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/admin/js/modern.min.js"></script>
<script src="/admin/js/pages/form-elements.js"></script>
<script src="/admin/js/upload.js"></script>

<script>
    var remove = document.getElementsByClassName('remove');
    var save = document.getElementsByClassName('save');
    for (var i = 0; i < remove.length; i++) {
        Event.add(remove[i], 'click', removeEl);
    }

    for (var j = 0; j < save.length; j++) {
        Event.add(save[j], 'click', saveOrder);
    }

    function removeEl(e) {
        e.preventDefault();
        var id = e.srcElement.parentNode.getElementsByClassName('elId')[0].value;

        ajax('/admin/media/removePhotoElement', {'id': id}, function (e) {
            setTimeout(function () {
                console.log(e);
                window.location.reload();
            }, 500);
        })
    }

    function saveOrder(e) {
        e.preventDefault();
        var id = e.srcElement.parentNode.getElementsByClassName('elId')[0].value;
        var order = e.srcElement.parentNode.getElementsByClassName('elOrder')[0].value;

        ajax('/admin/media/orderPhotoElement', {'id': id, order: order}, function (e) {
            setTimeout(function () {
                console.log(e);
                window.location.reload();
            }, 500);
        })
    }
</script>
{% endblock %}
