{% extends 'layout.html' %}

{% block content %}
<div class="page-inner">

    <div id="main-wrapper">
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">{{doc.title}}</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="form" method="post" action="/admin/updatePage">

                            <input name="page" value="{{page}}" type="hidden">
                            <input name="textLeft" value="{{textLeft}}" type="hidden">
                            <input name="textRight" value="{{textRight}}" type="hidden">

                            <div class="row">

                                <div class="form-group editableBlock">
                                    <label class="col-sm-2 control-label">Текст ліва частина</label>
                                    <div class="col-sm-10">
                                        <div class="summernote" id="textLeft">{{ doc.textLeft }}</div>
                                    </div>
                                </div>

                                <div class="form-group editableBlock" data-title="{{doc.textLeft}}">
                                    <label class="col-sm-2 control-label">Текст права частина</label>
                                    <div class="col-sm-10">
                                        <div class="summernote" id="textRight">{{ doc.textRight }}</div>
                                    </div>
                                </div>

                            </div>


                            <button type="submit" class="btn btn-primary">Зберегти</button>

                        </form>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-12">-->
                <!--<div class="panel panel-white">-->
                    <!--<div class="panel-heading">-->
                        <!--<h3 class="panel-title">Dropzone</h3>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<form action="/file-upload" class="dropzone">-->
                            <!--<div class="fallback">-->
                                <!--<input name="file" type="file" multiple />-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        </div><!-- Row -->
    </div><!-- Main Wrapper -->

    <div class="page-footer">
        <p class="no-s">2016 &copy; Сонячний.</p>
    </div>
</div><!-- Page Inner -->

<!-- Javascripts -->
<script src="/admin/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/admin/plugins/pace-master/pace.min.js"></script>
<script src="/admin/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/admin/plugins/switchery/switchery.min.js"></script>
<script src="/admin/plugins/uniform/jquery.uniform.min.js"></script>
<script src="/admin/plugins/offcanvasmenueffects/js/classie.js"></script>
<script src="/admin/plugins/offcanvasmenueffects/js/main.js"></script>
<script src="/admin/plugins/waves/waves.min.js"></script>
<script src="/admin/plugins/3d-bold-navigation/js/main.js"></script>
<script src="/admin/plugins/summernote-master/summernote.min.js"></script>
<script src="/admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="/admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="/admin/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/admin/js/modern.min.js"></script>
<script src="/admin/js/pages/form-elements.js"></script>
<script src="/admin/js/pages/form-plupload.js"></script>
<script src="/admin/plugins/dropzone/dropzone.min.js"></script>
<script src="/admin/plugins/dropzone/dz.js"></script>
<script src="/admin/plugins/plupload/js/plupload.full.min.js"></script>
<script src="/admin/plugins/plupload/js/jquery.plupload.queue/jquery.plupload.queue.min.js"></script>
<script src="/admin/plugins/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js"></script>

<script>
    $('#form').submit(function(e) {
        e.preventDefault();
        // get all the inputs into an array.
        var $inputs = $('#form :input');

        // not sure if you wanted this, but I thought I'd add it.
        // get an associative array of just the values.
        var values = {};
        $inputs.each(function() {
            values[this.name] = $(this).val();
        });

        var textLeft = $('#textLeft').summernote('code');
        var textRight = $('#textRight').summernote('code');

        console.log(values);
        console.log(textRight);
    });
</script>

{% endblock %}
