{% extends 'layout.html' %}

{% block content %}

<div class="page-inner">
    <div class="page-title">
        <h3>Фото головна</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        {% for x, image in photoIndexImages %}
                        <form style="float:left; width: 400px">
                            <div style="width: 400px;height: 200px;background: url({{image.path}}) 50% 50% no-repeat;background-size: cover"></div>
                            <p>Порядок</p>
                            <input type="number" class="elOrder" value="{{image.order}}" style="width: 400px">
                            <p>Заголовок</p>
                            <input type="text" class="elTitle" name="title" value="{{image.title}}" style="width: 400px">
                            <p>Посилання</p>
                            <input type="text" class="elLink" name="link" value="{{image.link}}" style="width: 400px">
                            <p>Текст</p>
                            <textarea class="elText" name="elText" style="width: 400px;height: 200px">{{image.text}}</textarea>
                            <input type="hidden" class="elId" value="{{image._id.toString()}}">
                            <hr>
                            <button class="remove">Видалити</button>
                            <button class="save">Зберегти данні</button>
                        </form>
                        {% endfor %}
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading">
                            <h3 class="panel-title">Завантажити фото</h3>
                        </div>
                        <div class="panel-body">
                            <form id="uploadPhoto" action="/admin/media/uploadPhotoIndex" method="post" enctype="multipart/form-data">
                                <input type="file" id="input" name="file" multiple>
                                <input type="submit" value="Upload">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->

</div><!-- Page Inner -->

<!-- Javascripts -->
<script src="/admin/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/admin/plugins/pace-master/pace.min.js"></script>
<script src="/admin/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/admin/plugins/switchery/switchery.min.js"></script>
<script src="/admin/plugins/uniform/jquery.uniform.min.js"></script>
<script src="/admin/plugins/offcanvasmenueffects/js/classie.js"></script>
<script src="/admin/plugins/offcanvasmenueffects/js/main.js"></script>
<script src="/admin/plugins/waves/waves.min.js"></script>
<script src="/admin/plugins/3d-bold-navigation/js/main.js"></script>
<script src="/admin/plugins/summernote-master/summernote.min.js"></script>
<script src="/admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="/admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="/admin/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/admin/js/modern.min.js"></script>
<script src="/admin/js/pages/form-elements.js"></script>
<!--<script src="/admin/plugins/dropzone/dropzone.min.js"></script>-->
<!--<script src="/admin/plugins/dropzone/dz.js"></script>-->
<script src="/admin/js/uploadPhotoIndex.js"></script>

<script>
    var remove = document.getElementsByClassName('remove');
    var save = document.getElementsByClassName('save');
    for (var i = 0; i < remove.length; i++) {
        Event.add(remove[i], 'click', removeEl);
    }

    for (var j = 0; j < save.length; j++) {
        Event.add(save[j], 'click', saveOrder);
    }

    function removeEl(e) {
        e.preventDefault();
        var id = e.srcElement.parentNode.getElementsByClassName('elId')[0].value;

        ajax('/admin/photoIndex/removePhotoIndexElement', {'id': id}, function (e) {
            setTimeout(function () {
                console.log(e);
                window.location.reload();
            }, 500);
        })
    }

    function saveOrder(e) {
        e.preventDefault();
        var data = {};
        data.id = e.srcElement.parentNode.getElementsByClassName('elId')[0].value;
        data.order = e.srcElement.parentNode.getElementsByClassName('elOrder')[0].value;
        data.title = e.srcElement.parentNode.getElementsByClassName('elTitle')[0].value;
        data.link = e.srcElement.parentNode.getElementsByClassName('elLink')[0].value;
        data.text = e.srcElement.parentNode.getElementsByClassName('elText')[0].value;

        ajax('/admin/photoIndex/dataPhotoIndexElement', data, function (e) {
            setTimeout(function () {
                window.location.reload();
            }, 500);
        })
    }
</script>

{% endblock %}
