{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->

<main>

  <section class="well well4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <h2>
            про
            <small>
              нас
            </small>
          </h2>
          <img class="" src="/site/images/real/34.JPG" alt="">
          <p class="lead">
            Дитячий оздоровчий табір "Сонячний"!
          </p>
          <p>
            Влітку дитячий оздоровчий табір «Сонячний» приймає понад 600 дітей працівників
            Полтавських провідних підприємств та області. В таборі створюються належні
            умови для змістовного дитячого відпочинку, зміцнення здоров’я та забезпечення якісного харчування.
          </p>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <h2>
            &nbsp;
            <small>
              &nbsp;
            </small>
          </h2>

          <article class='media offs2'>
            <div class="media-left text-center">
              <time datetime='2015'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</time>
            </div>
            <div class="media-body">
              <p>
                Табір розташувався на території в 4 гектари, до нього примикає лісовий масив площею близько 40 гектарів, зона піщаного берега річки складає 800 кв.м.
              </p>
            </div>
          </article>

          <article class='media offs2'>
            <div class="media-left text-center">
              <time datetime='2015'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</time>
            </div>
            <div class="media-body">
              <p>
                «Сонячний» – це: продумане компактне планування, 3-поверховий спальний корпус, медпункт, їдальня з трьома обідніми залами, простора актова зала, гурткові кімнати, спортивний комплекс з футбольним полем, баскетбольним і волейбольним майданчиком, майданчики для гри у бадмінтон і настільний теніс, танцювальний майданчик, обладнаний піщаний пляж.
              </p>
            </div>
          </article>

          <article class='media offs2'>
            <div class="media-left text-center">
              <time datetime='2015'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</time>
            </div>
            <div class="media-body">
              <p>
                Діти проживають у кімнатах по 5 чоловік. Для кожного загону обладнані кімната гігієни з душем, санвузол, умивальні кімнати з цілодобовою подачею холодної і гарячої води. Є загальний душ.
              </p>
            </div>
          </article>


        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <h2>
            &nbsp;
            <small>
              &nbsp;
            </small>
          </h2>

          <article class='media offs2'>
            <div class="media-left text-center">
              <time datetime='2015'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</time>
            </div>
            <div class="media-body">
              <p>
                Організовано п’ятиразове харчування. У збалансованому, калорійному, багатому вітамінами меню – блюда з екологічно чистих продуктів, якість яких знаходиться під постійним санітарно-гігієнічним контролем. У раціоні постійно свіжі фрукти і овочі, натуральні соки.
              </p>
            </div>
          </article>

          <article class='media offs2'>
            <div class="media-left text-center">
              <time datetime='2015'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</time>
            </div>
            <div class="media-body">
              <p>
                Велика увага приділяється оздоровленню дітей: щоденні фіззарядки, сонячні і повітряні ванни, купання в річці, лісові прогулянки, дотримання режиму дня і санітарно-гігієнічних правил.
                Задля безпечного відпочинку дітей в таборі організовано цілодобове чергування медичного персоналу, працівників міліції, чергових вихователів.
              </p>
            </div>
          </article>

          <article class='media offs2'>
            <div class="media-left text-center">
              <time datetime='2015'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</time>
            </div>
            <div class="media-body">
              <p>
                Табір укомплектований кваліфікованими педагогічними кадрами. З дітьми працюють професійні педагоги, режисери, хореографи, музиканти, спортивні тренери, майстри прикладної і технічної творчості.
                Кожна дитина зможе знайти в «Сонячному» заняття до душі, розкрити свій творчий потенціал, навчитися чомусь новому.
              </p>
            </div>
          </article>


        </div>
      </div>
    </div>
  </section>

  <section class="well well4 bg1 wow fadeIn" data-wow-duration='3s' style="display: none">
    <div class="container">
      <h2>
        Зустрічайте нашу
        <small>
          команду
        </small>
      </h2>
      <div class="row offs3 center767">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail1">
            <img class="" src="/site/images/page-2_img2.jpg" alt="">
            <div class="caption">
              <h4>
                <a href="#">
                  Ім'я фамілія
                </a>
              </h4>
              <p>
                Тут буде опис співробітника
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail1">
            <img class="" src="/site/images/page-2_img2.jpg" alt="">
            <div class="caption">
              <h4>
                <a href="#">
                  Ім'я фамілія
                </a>
              </h4>
              <p>
                Тут буде опис співробітника
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail1">
            <img class="" src="/site/images/page-2_img2.jpg" alt="">
            <div class="caption">
              <h4>
                <a href="#">
                  Ім'я фамілія
                </a>
              </h4>
              <p>
                Тут буде опис співробітника
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail1">
            <img src="/site/images/page-2_img2.jpg" alt="">
            <div class="caption">
              <h4>
                <a href="#">
                  Ім'я фамілія
                </a>
              </h4>
              <p>
                Тут буде опис співробітника
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="well well5">
    <div class="container">
      <div class="row">
        <div style="display: none" class="col-md-4 col-sm-12 col-xs-12">
          <h2>
            Переваги
          </h2>
          <ul class="index-list">
            <li>
              Річка! В нас крута річка (нормальний опис тут)
            </li>
            <li>
              Ліс! В нас крутий ліс (нормальний опис тут)
            </li>
            <li>
              Їдальня! В нас крута їдальня  (нормальний опис тут)
            </li>

            <li>
              Вожаті! В нас круті вожаті (нормальний опис тут)
            </li>
          </ul>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <h2>
            Заїзди
          </h2>

          <p>
            Робота працівників закладу спрямована на реалізацію одного із найважливіших завдань в забезпеченні
            соціального захисту дитинства – реалізацію права дитини на оздоровлення та відпочинок.
          </p>

          <p class="lead">
            Дати заїздів в 2016 р.
          </p>

          <ul class="marked-list offs3">
            <li>
              <a href="#">
                1 заїзд 16.06.16. – 06.07.16.
              </a>
            </li>
            <li>
              <a href="#">
                2 заїзд	9.07.16. – 29.07.16.
              </a>
            </li>
            <li>
              <a href="#">
                3 заїзд 08.08.16. – 28.08.16.
              </a>
            </li>
          </ul>

          <p>
            За довідками та детальною інформацією звертатися за тел.: 0503235802, (0532)508-305; 0672987839.
          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h2>
            Відгуки
          </h2>
          <blockquote class="media offs3">
            <div class="media-left media_ins1">
              <img src="/site/images/page-2_img6.jpg" alt="">
            </div>
            <div class="media-body">
              <p>
                <q>
                  "Тут потрібно буде написати відгук"
                </q>
              </p>
              <cite>
                Ганна Шпинько,<br />
                кліент, мати двух дітей
              </cite>
            </div>
          </blockquote>

        </div>
      </div>
    </div>
  </section>

</main>

<!--========================================================
                        FOOTER
=========================================================-->
<footer>
  <section class="well1">
    <div class="container">
      <p class="rights">
        Всі права захищені  &#169; <span id="copyright-year"></span>
        <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
      </p>
    </div>
  </section>
</footer>

{% endblock %}