{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                Збираємо дитину
                <small>
                    в табір
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Що необхідно дати дитині в табір?</b></p>
                    <p>- Одяг у достатній кількості, у тому числі теплі речі (увечері буває прохолодно).</p>
                    <p>- Взуття (2 пари).</p>
                    <p>- Спортивні одяг і взуття.</p>
                    <p>- Головний убір від сонця.</p>
                    <p>- Шкарпетки і нижня білизна в достатній кількості на всю зміну (у Вашої дитини буде можливість попрати речі, але не факт, що вона захоче це зробити).</p>
                    <p>- Банний рушник.</p>
                    <p>- Туалетний папір, зубну щітку і пасту, мило, мочалку, шампунь, гребінець.</p>
                    <p>- Предмети особистої гігієни для дівчаток..</p>
                    <p>- Засіб від комарів.</p>
                    <p>- Гроші на загонову фотографію, диск (за бажанням). Суму можна уточнити при відправці.</p>
                    <br>
                    <p><b>Що категорично заборонено привозити в табір? </b></p>
                    <p>- Наркотики.</p>
                    <p>- Спиртні напої (включаючи слабоалкогольні).</p>
                    <p>- Тютюнові вироби.</p>
                    <p>- Будь-яку піротехніку (петарди, хлопавки і таке інше).</p>
                    <p>- Ножі, рогатки і тому подібне.</p>
                    <p><i style="color:darkred">У разі виявлення у дитини вищеперелічених предметів вона буде достроково відрахована з табору без відшкодування вартості путівки. </i></p>
                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Корисні поради: </b></p>
                    <p>- Дітям у віці 6-9 років бажано помітити речі особистою міткою.</p>
                    <p>- Не варто давати дитині надто багато речей. Бажано, щоб усі вони помістилися в одну спортивну сумку або валізу.</p>
                    <p>- Уранці в день відправки дитини в табір акуратно перевірте її речі і, якщо знайдете, видалите сигарети і інші предмети, описані в наступному розділі.</p>
                    <br>
                    <p><b>Чого не варто давати дитині в табір?: </b></p>
                    <p>-  Будь-які речі, які було б дуже шкода поламати або втратити (ювелірні вироби, сімейні цінності, мобільний телефон, дорогі одяг, косметику тощо).</p>
                    <p>- Лікарські препарати. (У таборі цілодобово працює медичний пункт, де, у разі потреби, Вашій дитині нададуть кваліфіковану допомогу.)</p>
                    <p><i style="color:darkred">Якщо Ваша дитина повинна приймати впродовж зміни ліки на регулярній основі, їх необхідно передати лікарю табору при відправці. </i></p>
                </div>
            </div>

        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}