{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->

<main>

  <section class="well well1 well1_ins1">
    <div class="camera_container">
      <div id="camera" class="camera_wrap">
        <div data-src="/site/images/camp/children1.jpg">
          <div class="camera_caption fadeIn">
            <div class="jumbotron jumbotron1">
              <em>
                Перша перевага
              </em>
              <div class="wrap">
                <p>
                  Томущо кращі і т.д.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div data-src="/site/images/camp/children3.jpg">
          <div class="camera_caption fadeIn">
            <div class="jumbotron jumbotron2">
              <em>
                Друга перевага
              </em>
              <div class="wrap">
                <p>
                  Томущо кращі і т.д.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div data-src="/site/images/camp/children5.jpg">
          <div class="camera_caption fadeIn">
            <div class="jumbotron">
              <em>
                Третя перевага
              </em>
              <div class="wrap">
                <p>
                  Томущо кращі і т.д.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="well well2 wow fadeIn  bg1" data-wow-duration='3s'>
    <div class="container">
      <h2 class="txt-pr">
        Ласкаво просимо до
        <small>
          "ТОД" Сонячний!
        </small>
      </h2>
      <div class="row">
        <div class="col-md-6 col-sm-4">
          <p>
            Влітку дитячий оздоровчий табір «Сонячний» приймає понад 600 дітей працівників Полтавських провідних підприємств та області.
            В таборі створюються належні умови для змістовного дитячого відпочинку, зміцнення здоров’я та забезпечення якісного харчування.
          </p>
        </div>
        <div class="col-md-6 col-sm-4">
          <p>
            «Сонячний» – це: продумане компактне планування, 3-поверховий
            спальний корпус, медпункт, їдальня з трьома обідніми залами, простора актова зала, гурткові кімнати,
            спортивний комплекс з футбольним полем, баскетбольним і волейбольним майданчиком, майданчики для гри у бадмінтон
            і настільний теніс, танцювальний майданчик, обладнаний піщаний пляж.
            <a href="/about" class="btn-link l-h1 fa-angle-right"></a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="well well2">
    <div class="container">
      <h2>
        Для
        <small>
          БАТЬКІВ
        </small>
      </h2>
      <div class="row offs1">
        <div class="col-md-6 col-sm-12">
          <ul class="link-list wow fadeInLeft" data-wow-duration='3s'>
            <li>

              <a href="#">Загальна інформація</a>

              <a href="#" class="btn-link l-h1 fa-angle-right"></a>
            </li>

            <li>

              <a href="#">Збираємо дитину в табір</a>

              <a href="#" class="btn-link l-h1 fa-angle-right"></a>
            </li>
            <li>

              <a href="#">Відправка дітей у табір</a>

              <a href="#" class="btn-link l-h1 fa-angle-right"></a>
            </li>
            <li>

              <a href="#">Режим дня в ДОТ "Сонячний"</a>

              <a href="#" class="btn-link l-h1 fa-angle-right"></a>
            </li>
            <li>

              <a href="#">Побут та харчування в таборі</a>

              <a href="#" class="btn-link l-h1 fa-angle-right"></a>
            </li>

            <li>

              <a href="#">Відвідування дітей у таборі</a>

              <a href="#" class="btn-link l-h1 fa-angle-right"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12">
          <img class="width_img" src="/site/images/camp/children2.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="well well3 parallax" data-url="/site/images/camp/children6.jpg" data-mobile="
      true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong>
          Літо,
          друзі,
          <small>
            річка та ліс
          </small>
        </strong>
        <a href="/media" class="btn btn-primary">переглянути медіа<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>

  <!--========================================================
                        FOOTER
=========================================================-->
  <footer class="top-border">

    <div class="map">
      <div id="google-map" class="map_model" data-zoom="14"></div>
      <ul class="map_locations">
        <li data-x="34.5525797" data-y="49.5814095" data-basic="/site/images/gmap_marker.png" data-active="images/gmap_marker_active.png">
          <div class="location">
            <h3 class="txt-clr1">
              Придбання
              <small>
                путівок
              </small>
            </h3>
            <address>
              <dl>
                <dt>Телефон: </dt>
                <dd class="phone"><a>(050)3235802; (097)8531793; (067)2987839</a></dd>
              </dl>
              <dl>
                <dt>Адреса: </dt>
                <dd>м. Полтава, пров. Шевченка, 20</dd>
              </dl>
              <dl>
                <dt>Години: </dt>
                <dd>з 9-00 до 18-00 будні</dd>
              </dl>
              <dl>
                <dt> E-mail: </dt>
                <dd><a href="mailto:#">info@info.org</a></dd>
              </dl>
            </address>

          </div>
        </li>
      </ul>
    </div>

    <section class="well1">
      <div class="container">
        <p class="rights">
            Всі права захищені  &#169; <span id="copyright-year"></span>
          <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
        </p>
      </div>
    </section>
  </footer>

</main>

{% endblock %}