{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->

<main>

  <section style="height: 500px" class="well well3 parallax" data-url="/site/images/real/14.jpg" data-mobile="true" data-speed="0.7"></section>
  <section style="height: 500px" class="well well3 parallax" data-url="/site/images/real/16a.JPG" data-mobile="true" data-speed="0.7"></section>
  <section style="height: 500px" class="well well3 parallax" data-url="/site/images/real/19.JPG" data-mobile="true" data-speed="0.7"></section>
  <section style="height: 500px" class="well well3 parallax" data-url="/site/images/real/34.JPG" data-mobile="true" data-speed="0.7"></section>
  <section style="height: 500px" class="well well3 parallax" data-url="/site/images/real/36o.jpg" data-mobile="true" data-speed="0.7"></section>
  <section style="height: 500px" class="well well3 parallax" data-url="/site/images/real/36y.jpg" data-mobile="true" data-speed="0.7"></section>

  <!--========================================================
                        FOOTER
=========================================================-->
  <footer class="top-border">

    <section class="well1">
      <div class="container">
        <p class="rights">
          Всі права захищені  &#169; <span id="copyright-year"></span>
          <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
        </p>
      </div>
    </section>
  </footer>

</main>

{% endblock %}