{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->

<main>

    <section class="well well4 sect-404">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <strong class="txt-clr-sec text-uppercase fw-heavy">
                        <span>404</span>
                        page
                    </strong>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <p class="lead text-uppercase">
                        Вибачте!<br />
                        Сторінка не знайдена.
                    </p>
                    <p>
                        Сторінка, яку ви шукаєте, можливо, була видалена, її назва була змінена, або тимчасово недоступна.
                    </p>
                </div>
            </div>
        </div>
    </section>


</main>

{% include "./footer.html" %}

{% endblock %}