{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                Важлива
                <small>
                    інформація
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Яку ще інформацію мають знати батьки? </b></p>
                    <p>Наш табір живе за режимом дня, який передбачає активну участь дитини в різного роду заходах. Перегляд телепрограм не передбачений.
                        Прищеплюючи дитині навички самостійності, ми залучаємо її до елементарної праці, що включає прибирання свого спального місця, утримання в порядку особистих речей, дотримання норм особистої гігієни, підтримка чистоти на закріпленій території.
                        При відправці дитини в табір поцікавтеся номерами мобільних телефонів педагогів загону, а також в який час їм зручніше зателефонувати. Подзвонивши педагогам, Ви отримаєте вичерпну інформацію про стан Вашої дитини. Несвоєчасні телефонні розмови як з дитиною, так і з педагогами порушують режим роботи табору.</p>

                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <p>Адаптація дітей до нових для них умов тимчасового дитячого колективу – це складний і копіткий психолого-педагогічний процес, пов'язаний з необхідністю використання кожною дитиною (а тим більше, новачком) усіх умінь і навичок самостійності, концентрації усіх його особистих якостей. Тому намагайтеся не турбувати дитину телефонними дзвінками, а тим більше відвідуваннями, під час періоду адаптації (перші 3-4 дні).
                        Згідно з санітарними правилами і нормами пожежної безпеки електричні розетки в приміщеннях, де знаходяться діти, не передбачені.
                        Адміністрація табору переконливо просить Вас, шановані батьки, провести зі своїми дітьми бесіду про необхідність дбайливого відношення до матеріальних цінностей табору.
                        Якщо у Вашої дитини під час перебування в таборі виникають будь-які проблеми і вона соромиться звернутися до працівників табору, будь ласка, зателефонуйте педагогам загону – вони обов'язково допоможуть.
                        Працівники табору зацікавлені в тому, щоб зробити відпочинок Вашої дитини максимально приємним і корисним.</p>
                </div>
            </div>
        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}
