{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                Збираємо дитину
                <small>
                    в табір
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Що необхідно дати дитині в табір?</b></p>
                    <p>ВЗУТТЯ:</p>
                    <p>- Зручне взуття (сланці, тапочки, взуття для дискотеки) </p>
                    <p>- Спортивна (кросівки) - 1 пара </p>
                    <p>- Гумові чоботи - 1 пара (за бажанням і по погоді)</p>
                    <br>
                    <p>ОДЯГ, БІЛИЗНА:</p>
                    <p>- Вітрівка (на випадок дощу)</p>
                    <p>- Теплий светр або кофта, толстовка</p>
                    <p>- Джинси (брюки) дві пари</p>
                    <p>- Зручний одяг (футболки з довгим і коротким рукавом, шорти, спідниці, майки, сарафан та інше)</p>
                    <p>- Спортивний костюм</p>
                    <p>- Святкове вбрання на вибір (для дискотеки)</p>
                    <p>- Купальний костюм ( плавки хлопчикам або купальник  дівчаткам)</p>
                    <p>- Головний убір від сонця - 2 шт.</p>
                    <p>- Шкарпетки - 7 пар</p>
                    <p>- Колготки, гольфи (дівчаткам)</p>
                    <p>- Піжама або нічна сорочка</p>
                    <p>- Нижня білизна (труси, майки) змінне на тиждень</p>
                    <p>- Носовички (серветки)</p>
                    <p> (у Вашої дитини буде можливість попрати речі, але не факт, що вона захоче це зробити)</p>
                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <p>ЗАСОБИ ОСОБИСТОЇ ГІГІЄНИ</p>
                    <p>- Мило в мильниці - 1 шт</p>
                    <p>- Зубна паста - 1 шт</p>
                    <p>- Зубна щітка в футлярі  - 1 шт</p>
                    <p>- Гребінець - 1 шт</p>
                    <p>- Шампунь (невелика упаковка) - 1 шт</p>
                    <p>- Гель для душа - 1 шт.</p>
                    <p>- Мочалка - 1 шт</p>
                    <p>- Туалетний папір - 2 шт</p>
                    <p>- Рушник банний - 1 шт</p>
                    <p>- Рушник для обличчя, ніг - 2 шт</p>
                    <p>- Пляжний рушник</p>
                    <p>- Особиста кружка  для пиття води</p>
                    <p>- Пакети для брудної білизни</p>
                    <p>- Засіб від комарів</p>
                    <p>- Дітям у віці 6-9 років бажано помітити речі індивідуальною міткою.</p>
                    <p>1-2 книги, улюблену музику (фонограми). Для участі в розважальних та конкурсних програмах дитина може взяти з собою свій театральний або карнавальний костюм а також (якщо необхідно) фонограму або інші необхідні для його виступу реквізити.</p>
                </div>
            </div>

        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}
