{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                Загальна
                <small>
                    інформація
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p>Шановні батьки, переконливе прохання перед заїздом в наш табір уважно ознайомтеся:</p>
                    <p><a href="/rulesComein" style="color: #0a6aa1"> - з правилами прийому дітей в табір;</a></p>
                    <p><a href="/rules" style="color: #0a6aa1"> - з правилами внутрішнього розпорядку;</a></p>
                    <p><a href="/childtocamp" style="color: #0a6aa1"> - зі списком рекомендованих речей;</a></p>
                    <p><a href="/" style="color: #0a6aa1"> - з режимом дня.</a></p>
                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <p>1.	Ми наполегливо рекомендуємо Вам не давати дітям із собою коштовні речі: ювелірні вироби, електронні ігри, аудіо-, фото- та відеотехніку, ноутбуки, планшети, мобільні телефони тощо. За випадки крадіжки, втрати або псування таких речей працівники табору відповідальності не несуть.</p>
                    <p>2.	Ви можете відвідувати своїх дітей у таборі в суботу та неділю з 8:30 до 13:00 і з 16:00 до 19:00. Будь ласка, не плануйте свій приїзд в інші дні та під час «Тихої години», щоб не зірвати виконання плану роботи табору. До того ж не бажано відвідувати дітей у перші 3-4 дні, коли відбувається їх адаптація.</p>
                    <p>3.	Право відвідувати дитину мають тільки її батьки (опікуни). Інші особи можуть відвідувати дитину тільки за наявності нотаріально завіреного доручення від батьків (опікунів). Відвідування дітей особами в стані алкогольного або наркотичного сп'яніння не допускається.</p>
                    <p>4.	Відповідно до Закону України «Про оздоровлення та відпочинок дітей», Державних санітарних правил і норм, Типового положення про дитячий оздоровчій заклад, а також Правил внутрішнього розпорядку ДОТ «Сонячний», самостійне пересування батьків по табору, а тим більше відвідування спальних корпусів, їдальні та інших приміщень категорично заборонено.</p>
                    <p>5.	Якщо Ви достроково забираєте дитину з табору, повна чи часткова вартість путівки не відшкодовується.</p>

                </div>
            </div>
        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}
