{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                Режим дня в
                <small>
                    ДОТ "Сонячний"
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>08.00 - 08.10</b> - Підйом, прибирання ліжок</p>
                    <p><b>08.10 - 08.25</b> - Гігієничні процедури</p>
                    <p><b>08.25 - 08.45</b> - Ранкова зарядка</p>
                    <p><b>08.45 - 09.00</b> - Ранкова загонова лінійка</p>
                    <p><b>09.00 - 09.30</b> - Сніданок</p>
                    <p><b>09.30 - 10.00</b> - Прибирання території, корпусів, кімнат</p>
                    <p><b>10.00 - 12.50</b> - <b>Загонові заходи, пляж, робота гуртків</b></p>
                    <p><b>13.00 - 13.30</b> - Обід</p>
                    <p><b>13.30 - 16.00</b> - Денний сон</p>
                    <p><b>16.00 - 16.30</b> - Прибирання ліжок, гігієнічні процедури</p>
                    <p><b>16.30 - 17.00</b> - Підвечірок</p>
                    <p><b>17.00 - 19.00</b> - <b>Загонові і загальнотабірні заходи, робота гуртків</b></p>
                    <p><b>19.00 - 19.30</b> - Вечеря</p>
                    <p><b>19.30 - 20.00</b> - Підготовка до вечірнього заходу</p>
                    <p><b>20.00 - 22.00</b> - <b>Вечірній загальнотабірний захід, дискотека, відеозал</b></p>
                    <p><b>22.00 - 22.10</b> - Друга вечеря</p>
                    <p><b>22.10 - 22.30</b> - Вечірній загоновий вогник</p>
                    <p><b>22.30 - 23.00</b> - Гігієнічні процедури</p>
                    <p><b>23.00</b> - Відбій</p>

                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <img src="/site/images/camp/vod.jpg">
                </div>
            </div>

        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}