{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                Режим дня в
                <small>
                    ДОТ "Сонячний"
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>08.00 - 08.15</b> - Підйом, прибирання ліжок</p>
                    <p><b>08.15 - 08.30</b> - Програми на свіжому повітрі: силові вправи для хлопчиків, гімнастика для дівчаток. Весела зарядка для малюків. Пробіжка. Інші види ранкової зарядки.</p>
                    <p><b>08.30 - 09.00</b> - Гігієничні процедури</p>
                    <p><b>09.00 - 09.30</b> - Сніданок</p>
                    <p><b>09.30 - 10.00</b> - Прибирання території, корпусів, кімнат</p>
                    <p><b>10.00 - 12.50</b> - Загонові заходи, пляж, робота гуртків, командні спортивні ігри, екскурсійні маршрути.</p>
                    <p><b>13.00 - 13.30</b> - Обід</p>
                    <p><b>13.30 - 16.00</b> - Післяобідній відпочинок. Для молодших дітей тиха година. Для старших дітей – тихі ігри, тренінги, клуб кіно, лабораторія ідей, підготовка до радіоефіру. </p>
                    <p><b>16.00 - 16.30</b> - Прибирання ліжок, гігієнічні процедури</p>
                    <p><b>16.30 - 17.00</b> - Полуденок</p>
                    <p><b>17.00 - 19.00</b> - Вечірній загальнотабірний захід </p>
                    <p><b>19.00 - 19.30</b> - Вечеря</p>
                    <p><b>20.00 - 22.00</b> - Дискотека</p>
                    <p><b>22.00 - 22.30</b> - Друга вечеря</p>
                    <p><b>22.30</b> - Відбій (молодші загони)</p>
                    <p><b>23.00</b> - Відбій (старші загони)</p>

                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <img src="/site/images/camp/vod.jpg">
                </div>
            </div>

        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}
