{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                Режим дня в
                <small>
                    ДОТ "Сонячний"
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>08:00</b> - Підйом, прибирання ліжок</p>
                    <p><b>08:10</b> - Програма на свіжому повітрі: пробіжка, силові вправи для strong-менів, фітнес для дівчат, весела зарядка для малюків.</p>
                    <p><b>08:30</b> - Ранковий туалет, прибирання кімнат</p>
                    <p><b>09:00</b> - Сніданок</p>
                    <p><b>09:30</b> - «СтартUP-go» (ранкові збори)</p>
                    <p><b>10:00 - 13:00</b> - Загонові справи, вихід до річки, екскурсійні маршрути, командні спортивні ігри, робота гуртків (канатне містечко, скалодром, вело навчання, студія радіостанції, журналістики, КВН майстер-класи, спортивні секції, студії гончарства, кераміки, вокалу, хореографії, квілінгу, орігамі, декупажу, бісероплетіння та ін. hand made)</p>
                    <p><b>13:00</b> - Обід</p>
                    <p><b>13:30 - 15:30</b> - Після обідній відпочинок</p>
                    <p><b>16:00</b> - Підвечірок</p>
                    <p><b>17:00</b> - Загально-табірні заходи</p>
                    <p><b>19:00</b> - Вечеря</p>
                    <p><b>19:30</b> - «Star time» (підсумки дня, нагородження)</p>
                    <p><b>20:00</b> - Disco, перегляд кінофільмів</p>
                    <p><b>21:00</b> - Друга вечеря</p>
                    <p><b>21:30</b> - Відбій (молодші загони)</p>
                    <p><b>22:00</b> - Відбій (старші загони)</p>

                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <img src="/site/images/camp/vod.jpg">
                </div>
            </div>

        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}
