{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                Побут та харчування
                <small>
                    в таборі
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Які побутові умови в таборі?</b></p>
                    <p>Діти розміщуються в кімнатах по 5 чоловік, кожен загін – на окремому поверсі 3-поверхового корпусу.</p>
                    <p>На поверсі знаходяться туалети, умивальники, ногомийки і кімната гігієни (з цілодобовою гарячою водою).</p>
                     <p>На території табору є постійно працюючий душ із гарячою водою. Регулярність купання дітей у душі – не рідше за 1 разу на добу . Для розміщення особистих речей використовуються тумбочки, що знаходяться в кімнатах.
                        Сумки з непотрібними у даний момент речами зберігаються у камері схову . Діти забезпечуються постільною білизною. Заміна білизни проходить 2 рази на зміну для всіх дітей, а також персонально за необхідністю.


                    </p>
                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Який режим харчування в таборі?</b></p>
                    <p>Харчування дітей у таборі здійснюється на основі фізіологічно обумовлених норм, рекомендованих Міністерством охорони здоров'я України для дітей шкільного віку.</p>
                    <p>Харчування в таборі 5-ти разове (сніданок, обід, підвечірок, вечеря, друга вечеря) із суворим дотриманням інтервалів часу між прийманням їжі. У харчуванні дітей не використовуються гострі блюда, важкі і штучні жири.
                    Щодня діти отримують соки і фрукти. Якість продуктів, що поступають на харчоблок, знаходиться під постійним санітарно-гігієнічним контролем.</p>
                </div>
            </div>
        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}
