{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                Харчування
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p>У «Сонячному» смачно готують корисні страви, тому у дітей завжди є енергія і настрій для чудового відпочинку.</p>
                    <p><b>Якість продуктів харчування постійно контролюється</b></p>
                    <p>- М'ясо, молоко і хліб привозять щодня.</p>
                    <p>- Всі продукти харчування сертифіковані і пройшли контроль якості.</p>
                    <p>- Овочі і фрукти перевіряють на наявність нітратів і ретельно миють.</p>
                    <p>- Всі технологічні процеси на кухні проходять під контролем головного лікаря табору.</p>
                    <br>
                    <p>Харчування дітей у таборі здійснюється на основі фізіологічно обумовлених норм, рекомендованих Міністерством охорони здоров'я України для дітей шкільного віку.</p>
                    <p>Харчування в таборі 5-ти разове (сніданок, обід, підвечірок, вечеря, друга вечеря) із суворим дотриманням інтервалів часу між прийманням їжі. У харчуванні дітей не використовуються гострі блюда, важкі і штучні жири. </p>
                    <p>Щодня діти отримують соки і фрукти. Якість продуктів, що поступають на харчоблок, знаходиться під постійним санітарно-гігієнічним контролем.</p>
                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <img src="/site/images/kideat1.jpg">
                    <br>
                    <br>
                    <img src="/site/images/kideat2.jpg">
                </div>
            </div>
        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}
