<!--========================================================
                          HEADER
=========================================================-->
<header>
    <div class="container top-sect">
        <div class="navbar-header">
            <h1 class="navbar-brand">
                <a data-type='rd-navbar-brand'  href="./">Сонячний<small>дитячий табір</small></a>
            </h1>
            <a class="search-form_toggle" href="#"></a>
        </div>

        <div class="help-box text-right">
            <p>Подрібна допомога?</p>
            <a href="callto:#">(050)3235802</a>
            <a href="callto:#">(097)8531793</a>
            <a href="callto:#">(067)2987839</a>
            <small><span>Часи:</span> з 9-00 до 18-00 в будні</small>
        </div>
    </div>

    <div id="stuck_container" class="stuck_container">
        <div class="container">
            <nav class="navbar navbar-default navbar-static-top pull-left">

                <div class="">
                    <ul class="nav navbar-nav sf-menu" data-type="navbar">
                        <li class="active">
                            <a href="/">Головна</a>
                        </li>
                        <li>
                            <a href="/about">Про нас</a>
                        </li>
                        <li class="dropdown">
                            <a href="/common">Для батьків<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/common">Загальна інформація</a>
                                </li>
                                <li>
                                    <a href="/childtocamp">Збираємо дитину в табір</a>
                                </li>
                                <li>
                                    <a href="/sendtocamp">Відправка дітей у табір</a>
                                </li>
                                <li>
                                    <a href="/daily">Режим дня в ДОТ "Сонячний"</a>
                                </li>
                                <li>
                                    <a href="/eat">Побут та харчування в таборі</a>
                                </li>
                                <li>
                                    <a href="/visit">Відвідування дітей у таборі</a>
                                </li>
                                <li>
                                    <a href="/attention">Важлива інформація</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/media?page=1">Медіа</a>
                        </li>

                        <li>
                            <a href="/contacts">Контакти</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--<form class="search-form" action="search.php" method="GET" accept-charset="utf-8">-->
                <!--<label class="search-form_label">-->
                    <!--<input class="search-form_input" type="text" name="s" autocomplete="off" placeholder=""/>-->
                    <!--<span class="search-form_liveout"></span>-->
                <!--</label>-->
                <!--<button class="search-form_submit fa-search" type="submit"></button>-->
            <!--</form>-->

        </div>

    </div>
</header>