<!--========================================================
                          HEADER
=========================================================-->
<header>
    <div class="container top-sect">
        <a href="/" class="navbar-header" style="background: url('/site/images/logo.png') 50% 50% no-repeat;width: 200px;height: 200px;background-size: cover">
            <a class="search-form_toggle" href="#"></a>
        </a>

        <div class="help-box text-right">
            <p>Потрібна допомога?</p>
            <a href="callto:(067) 40 06 088">(067) 40 06 088</a>
            <p style="margin-top: 10px">Продаж путівок</p>
            <a href="callto:(067) 552 60 20">(067) 552 60 20</a>
            <small><span>Часи:</span> з 9-00 до 17-00 в будні</small>
        </div>
    </div>

    <div id="stuck_container" class="stuck_container">
        <div class="container">
            <nav class="navbar navbar-default navbar-static-top pull-left">

                <div >
                    <ul class="nav navbar-nav sf-menu" data-type="navbar" >
                        <li style="background: lightskyblue;">
                            <a href="/" style="width: 136px; height: 44px; text-align: center;font-size: 17px">Головна</a>
                        </li>
                        <li style="background: lightpink;">
                            <a href="/content/about" style="width: 136px; height: 44px; text-align: center; font-size: 17px" >Про нас</a>
                        </li>
                        <li style="background: lightgreen; ">
                            <a href="/content/eating" style="width: 136px; height: 44px; text-align: center;font-size: 17px" >Харчування</a>
                        </li>
                        <li style="background: lightyellow; ">
                            <a href="/content/medical" style="width: 136px; height: 44px; text-align: center;line-height: 1; font-size: 17px">Медична служба</a>
                        </li>
                        <li class="dropdown" style=" background: lightcoral">
                            <a href="/content/common" style="width: 136px; height: 44px; text-align: center;font-size: 17px">
                                Для батьків &darr;
                                <!--<span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="margin-left: 50px"></span>-->
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/content/common">Загальна інформація</a>
                                </li>
                                <li>
                                    <a href="/content/rulesComein">Правила прийому</a>
                                </li>
                                <li>
                                    <a href="/content/rules">Правила внутрішнього розпорядку</a>
                                </li>
                                <li>
                                    <a href="/content/childtocamp">Збираємо дитину в табір</a>
                                </li>
                                <li>
                                    <a href="/content/sendtocamp">Відправка дітей у табір</a>
                                </li>
                                <li>
                                    <a href="/content/daily">Режим дня в ДОТ "Сонячний"</a>
                                </li>
                                <li>
                                    <a href="/content/eat">Побут та харчування в таборі</a>
                                </li>
                                <li>
                                    <a href="/content/visit">Відвідування дітей у таборі</a>
                                </li>
                                <li>
                                    <a href="/content/attention">Важлива інформація</a>
                                </li>
                            </ul>
                        </li>
                        <li style="background: lightseagreen">
                            <a href="/media?page=1" style="width: 136px; height: 44px; text-align: center; font-size: 17px">Медіа</a>
                        </li>

                        <li style="background: lightsalmon;">
                            <a href="/content/jobs" style="width: 136px; height: 44px; text-align: center; font-size: 17px">Вакансії</a>
                        </li>

                        <li style="background: lightgoldenrodyellow">
                            <a href="/contacts" style="width: 136px; height: 44px; text-align: center; font-size: 17px">Контакти</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
</header>
