{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->

<main>

  <section class="well well1 well1_ins1">
    <div class="camera_container">
      <div id="camera" class="camera_wrap">
        <div data-src="/site/images/camp/children10.jpg">
          <div class="camera_caption fadeIn">
            <div class="jumbotron jumbotron1">
              <!--<em>-->
                <!--«Сонячний»-->
              <!--</em>-->
              <div class="wrap">
                <p>
                  Представляємо ВАМ дитячий оздоровчий табір «Сонячний», табір в якому кожна дитина -
                  головний герой! «Сонячний» - це унікальний табір, створений для дітей, табір який дарує нових
                  друзів, нові знання, змінює світогляд, виховує особистість, а головне дарує незабутні спогади про
                  щасливе дитинство кожного дитині, яка хоч раз провела тут частинку свого життя!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div data-src="/site/images/camp/children7.jpg">
          <div class="camera_caption fadeIn">
            <div class="jumbotron jumbotron1">
              <!--<em>-->
              <!--«Сонячний»-->
              <!--</em>-->
              <div class="wrap">
                <p>
                  Представляємо ВАМ дитячий оздоровчий табір «Сонячний», табір в якому кожна дитина -
                  головний герой! «Сонячний» - це унікальний табір, створений для дітей, табір який дарує нових
                  друзів, нові знання, змінює світогляд, виховує особистість, а головне дарує незабутні спогади про
                  щасливе дитинство кожного дитині, яка хоч раз провела тут частинку свого життя!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div data-src="/site/images/camp/children5.jpg">
          <div class="camera_caption fadeIn">
            <div class="jumbotron jumbotron1">
              <!--<em>-->
              <!--«Сонячний»-->
              <!--</em>-->
              <div class="wrap">
                <p>
                  Представляємо ВАМ дитячий оздоровчий табір «Сонячний», табір в якому кожна дитина -
                  головний герой! «Сонячний» - це унікальний табір, створений для дітей, табір який дарує нових
                  друзів, нові знання, змінює світогляд, виховує особистість, а головне дарує незабутні спогади про
                  щасливе дитинство кожного дитині, яка хоч раз провела тут частинку свого життя!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="well well2 wow fadeIn  bg1" data-wow-duration='3s'>
    <div class="container">
      <h3 class="txt-pr" style="text-align: center">
        Комфорт дитини -
        <small style="color: black">
          важлива складова відпочинку і ми приділяємо цьому максимум уваги.
        </small>
      </h3>
    </div>
  </section>

  <br><br>

  <section class="well well3 parallax" data-url="/site/images/about2.JPG" data-mobile="true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong>
          Про нас
          <small>
            &nbsp;
          </small>
        </strong>
        <a href="/about" class="btn btn-primary">Переглянуту детальніше<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>

  <br><br>

  <section class="well well3 parallax" data-url="/site/images/eating2.jpg" data-mobile="true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong>
          Харчування
        </strong>
        <ul>
          <li>- у таборі діти їдять 5 разів на день;</li>
          <li>- якість продуктів харчування постійно контролюється;</li>
          <li>- їдальню обслуговує команда професіоналів;</li>
          <li>- сучасне професійне обладнання;</li>
          <li>- в їдальні завжди чисто</li>
        </ul>
        <a href="/eating" class="btn btn-primary">Переглянуту детальніше<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>

  <br><br>

  <section class="well well3 parallax" data-url="/site/images/med2.jpg" data-mobile="true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong>
          Медичне обслуговування
        </strong>
        <a href="/medical" class="btn btn-primary">Переглянуту детальніше<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>

  <br><br>

  <section class="well well3 parallax" data-url="/site/images/parents2.png" data-mobile="true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong>
          Для батьків
        </strong>
        <ul style="color:white">
          <li>- правила прийому дітей в табір;</li>
          <li>- правила внутрішнього розпорядку;</li>
          <li>- список рекомендованих речей;</li>
          <li>- список продуктів і речей, які заборонено привозити в табір;</li>
        </ul>
        <a href="/common" class="btn btn-primary">Переглянуту детальніше<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>

  <br><br>

  <section class="well well3 parallax" data-url="/site/images/team2.jpg" data-mobile="true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong>
          Вакансії
        </strong>
        <ul style="color:white">
          <li>Якщо ти вже виріс, але дуже полюбляєш табір, вступай до нас в команду</li>
        </ul>
        <a href="/jobs" class="btn btn-primary">Переглянуту детальніше<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>

  <br><br>

  <section class="well well3 parallax" data-url="/site/images/media2.jpg" data-mobile="true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong>
          Літо,
          друзі,
          <small>
            річка та ліс
          </small>
        </strong>
        <a href="/media" class="btn btn-primary">переглянути медіа<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>

  <br><br>

  <section class="well well3 parallax" data-url="/site/images/sco.jpg" data-mobile="true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong>
          Ми в соц.мережах
        </strong>
        <ul style="color:white">
          <li>Приєднуйтесь до нашої спільноти в соціальних мережах.</li>
          <li>Дізнавайтеся все найновіше!</li>
          <li>Діліться з нами своїми новинами і фото.</li>
          <li>Ми завжди раді спілкуванню з вами!</li>
        </ul>
        <a href="https://vk.com/poltavasunnycamp" target="_blank" class="btn btn-primary">Переглянуту детальніше<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>
  <br>
  <!--========================================================
                        FOOTER
=========================================================-->
  <footer class="top-border">

    {% include "./map.html" %}

    <section class="well1">
      <div class="container">
        <p class="rights">
            Всі права захищені  &#169; <span id="copyright-year"></span>
          <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
        </p>
      </div>
    </section>
  </footer>

</main>

{% endblock %}
