{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->

<main>

  <section class="well well1 well1_ins1">
    <div class="camera_container">
      <div id="camera" class="camera_wrap">
        <div data-src="/site/images/camp/children10.jpg">
          <div class="camera_caption fadeIn">
            <div class="jumbotron jumbotron1">
              <!--<em>-->
                <!--«Сонячний»-->
              <!--</em>-->
              <div class="wrap">
                <p>
                  Представляємо ВАМ дитячий оздоровчий табір «Сонячний», табір в якому кожна дитина -
                  головний герой! «Сонячний» - це унікальний табір, створений для дітей, табір який дарує нових
                  друзів, нові знання, змінює світогляд, виховує особистість, а головне дарує незабутні спогади про
                  щасливе дитинство кожного дитині, яка хоч раз провела тут частинку свого життя!
                  <br><br>
                  Комфорт дитини - важлива складова відпочинку і ми приділяємо цьому максимум уваги
                </p>
              </div>
            </div>
          </div>
        </div>
        <div data-src="/site/images/camp/children7.jpg">
          <div class="camera_caption fadeIn">
            <div class="jumbotron jumbotron1">
              <!--<em>-->
              <!--«Сонячний»-->
              <!--</em>-->
              <div class="wrap">
                <p>
                  Представляємо ВАМ дитячий оздоровчий табір «Сонячний», табір в якому кожна дитина -
                  головний герой! «Сонячний» - це унікальний табір, створений для дітей, табір який дарує нових
                  друзів, нові знання, змінює світогляд, виховує особистість, а головне дарує незабутні спогади про
                  щасливе дитинство кожного дитині, яка хоч раз провела тут частинку свого життя!
                  <br><br>
                  Комфорт дитини - важлива складова відпочинку і ми приділяємо цьому максимум уваги
                </p>
              </div>
            </div>
          </div>
        </div>
        <div data-src="/site/images/camp/children5.jpg">
          <div class="camera_caption fadeIn">
            <div class="jumbotron jumbotron1">
              <!--<em>-->
              <!--«Сонячний»-->
              <!--</em>-->
              <div class="wrap">
                <p>
                  Представляємо ВАМ дитячий оздоровчий табір «Сонячний», табір в якому кожна дитина -
                  головний герой! «Сонячний» - це унікальний табір, створений для дітей, табір який дарує нових
                  друзів, нові знання, змінює світогляд, виховує особистість, а головне дарує незабутні спогади про
                  щасливе дитинство кожного дитині, яка хоч раз провела тут частинку свого життя!
                  <br><br>
                  Комфорт дитини - важлива складова відпочинку і ми приділяємо цьому максимум уваги
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="well well2 wow fadeIn  bg1" data-wow-duration='3s'>
    <div class="container">
      <h2 class="txt-pr">
        Ласкаво просимо до
        <small>
          дитячого оздоровчого табору "Сонячний"!
        </small>
      </h2>
      <div class="row">
        <div class="col-md-6 col-sm-4">
          <p>
            Влітку дитячий оздоровчий табір «Сонячний» приймає понад 600 дітей працівників Полтавських провідних підприємств та області.
            В таборі створюються належні умови для змістовного дитячого відпочинку, зміцнення здоров’я та забезпечення якісного харчування.
          </p>
        </div>
        <div class="col-md-6 col-sm-4">
          <p>
            «Сонячний» – це: продумане компактне планування, 3-поверховий
            спальний корпус, медпункт, їдальня з трьома обідніми залами, простора актова зала, гурткові кімнати,
            спортивний комплекс з футбольним полем, баскетбольним і волейбольним майданчиком, майданчики для гри у бадмінтон
            і настільний теніс, танцювальний майданчик, обладнаний піщаний пляж.
            <a href="/about" class="btn-link l-h1 fa-angle-right"></a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="well well3 parallax" data-url="/site/images/16.JPG" data-mobile="
      true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong>
          Про нас
          <small>
            &nbsp;
          </small>
        </strong>
        <a href="/about" class="btn btn-primary">Переглянуту детальніше<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>

  <br>
  <br>

  <section class="well well3 parallax" data-url="/site/images/eating1.jpg" data-mobile="
      true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong>
          Харчування
        </strong>
        <ul style="color:white">
          <li>- у таборі діти їдять 5 разів на день;</li>
          <li>- якість продуктів харчування постійно контролюється;</li>
          <li>- їдальню обслуговує команда професіоналів;</li>
          <li>-  сучасне професійне обладнання;</li>
          <li>- в їдальні завжди чисто</li>
        </ul>
        <a href="/eating" class="btn btn-primary">Переглянуту детальніше<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>

  <section class="well well2">
    <div class="container">
      <h2>
        Для
        <small>
          БАТЬКІВ
        </small>
      </h2>
      <div class="row offs1">
        <div class="col-md-6 col-sm-12">
          <ul class="link-list wow fadeInLeft" data-wow-duration='3s'>
            <li>
              <a href="/common">Загальна інформація</a>
              <a href="/common" class="btn-link l-h1 fa-angle-right"></a>
            </li>
            <li>
              <a href="/childtocamp">Збираємо дитину в табір</a>
              <a href="/childtocamp" class="btn-link l-h1 fa-angle-right"></a>
            </li>
            <li>
              <a href="/sendtocamp">Відправка дітей у табір</a>
              <a href="/sendtocamp" class="btn-link l-h1 fa-angle-right"></a>
            </li>
            <li>
              <a href="/daily">Режим дня в ДОТ "Сонячний"</a>
              <a href="/daily" class="btn-link l-h1 fa-angle-right"></a>
            </li>
            <li>
              <a href="/eat">Побут та харчування в таборі</a>
              <a href="/eat" class="btn-link l-h1 fa-angle-right"></a>
            </li>
            <li>
              <a href="/visit">Відвідування дітей у таборі</a>
              <a href="/visit" class="btn-link l-h1 fa-angle-right"></a>
            </li>
            <li>
              <a href="/attention">Важлива інформація</a>
              <a href="/attention" class="btn-link l-h1 fa-angle-right"></a>
            </li>

          </ul>
        </div>

        <div class="col-md-6 col-sm-12">
          <div id="vk_groups"></div>
        </div>

        <!--<div class="col-md-6 col-sm-12">-->
          <!--<ul class="link-list wow fadeInLeft" data-wow-duration='3s'>-->
            <!--<li>-->
              <!--<a href="/eat">Побут та харчування в таборі</a>-->
              <!--<a href="/eat" class="btn-link l-h1 fa-angle-right"></a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="/visit">Відвідування дітей у таборі</a>-->
              <!--<a href="/visit" class="btn-link l-h1 fa-angle-right"></a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="/attention">Важлива інформація</a>-->
              <!--<a href="/attention" class="btn-link l-h1 fa-angle-right"></a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      </div>
    </div>
  </section>

  <section class="well well3 parallax" data-url="/site/images/med1.jpg" data-mobile="
      true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong style="color: black">
          Медичне обслуговування
        </strong>
        <a href="/medical" class="btn btn-primary">Переглянуту детальніше<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>

  <br><br>

  <section class="well well3 parallax" data-url="/site/images/team.jpg" data-mobile="
      true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong>
          Вакансії
        </strong>
        <ul style="color:white">
          <li>Якщо ти вже виріс, але дуже полюбляєш табір, вступай до нас в команду</li>
        </ul>
        <a href="/jobs" class="btn btn-primary">Переглянуту детальніше<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>

  <br><br>

  <section class="well well3 parallax" data-url="/site/images/camp/children6.jpg" data-mobile="
      true" data-speed="0.9">
    <div class="container">
      <div class="wrap text-center">
        <strong>
          Літо,
          друзі,
          <small>
            річка та ліс
          </small>
        </strong>
        <a href="/media" class="btn btn-primary">переглянути медіа<span class="fa-angle-right"></span></a>
      </div>
    </div>
  </section>

  <br>
  <!--========================================================
                        FOOTER
=========================================================-->
  <footer class="top-border">

    {% include "./map.html" %}

    <section class="well1">
      <div class="container">
        <p class="rights">
            Всі права захищені  &#169; <span id="copyright-year"></span>
          <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
        </p>
      </div>
    </section>
  </footer>

</main>

{% endblock %}
