{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                ПРАЦЕВЛАШТУВАННЯ
                <small>
                    У ТАБОРІ
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Дозвольте привітати Вас від імені Дитячого оздоровчого табору "Сонячний"!</b></p>
                    <p>Ми запрошує на роботу працівників на літній період.</p>
                    <p>Якщо ви бажаєте працювати у нас спочатку скачайте та заповніть анкету</p>
                    <p>Сподіваємося, що анкета не викличе у Вас труднощів, а відповіді будуть щирими.</p>
                    <br>
                    <a href="/download/form.docx" download>
                        <img border="0" src="/site/images/doc.png" alt="form" width="200" height="200">
                    </a>
                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <p>Після заповнення анкети, надсилайте  її нам  на  електронну адресу <a href="mailto:s_tabir2016@ukr.net">s_tabir2016@ukr.net</a></p>
                    <p>з позначкою «Хочу в команду!».</p>
                    <p>А ще, не забуть прикріпити своє яскраве фото!</p>
                    <p>Ми з тобою обов’язково зв'яжемося</p>
                    <br>
                    <p>тел. директора ДОТ «Сонячний  <a href="callto:+38(066) 165-58-80">+38(066) 165-58-80 Євгенія Олександрівна</p>
                </div>
            </div>
        </div>
    </section>

    {% include "./footer.html" %}

</main>

{% endblock %}
