<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="format-detection" content="telephone=no"/>
  <link rel="icon" href="/site/images/favicon.ico" type="image/x-icon">
  <title>ДОТ "Сонячний"</title>

  <meta name="Description" CONTENT="Влітку дитячий оздоровчий табір «Сонячний» приймає понад 600 дітей працівників Полтавських провідних підприємств та області. В таборі створюються належні умови для змістовного дитячого відпочинку, зміцнення здоров’я та забезпечення якісного харчування.На живописном берегу речки Ворскла возле села Михайловка Полтавской области  в смешанном лесу располагается детская страна - оздоровительный лагерь &quot;Солнечный&quot;. . Веселый детский шум, улыбающиеся лица, детская искренность и непосредственность - визитная карточка лагеря &quot;Солнечный&quot;.">
  <meta name="keywords" content="лагерь солнечный Полтава, лагерь солнечный Михайловка, Михайловка, село Михайловка, десткий лагерь, лагерь Полтава, Полтава, лагерь на берегу, лагерь на берегу Полтава, лагерь на берегу Ворсклы">
  <meta name="robots" content="index,follow" >

  <meta name="yandex-verification" content="4391663c41bf48bc" />
  <meta name="google-site-verification" content="R7-JbqQ3CKFsYUGAY0MXkVVZatWSPXrK4G9RvG5paCU" />

  <!-- Bootstrap -->
  <link href="/site/css/bootstrap.css" rel="stylesheet">

  <!-- Links -->
  <link rel="stylesheet" href="/site/css/camera.css">
  <link rel="stylesheet" href="/site/css/search.css">
  <link rel="stylesheet" href="/site/css/google-map.css">
  <link rel="stylesheet" href="/site/css/contact-form.css">

  <!--JS-->
  <script src="/site/js/jquery.js"></script>
  <script src="/site/js/jquery-migrate-1.2.1.min.js"></script>
  <script src="/site/js/rd-smoothscroll.min.js"></script>


  <!--[if lt IE 9]>
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="/site/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <script src="/site/js/html5shiv.js"></script>
  <![endif]-->
  <script src='/site/js/device.min.js'></script>
</head>
<body>
<div class="page">

  {% include "./header.html" %}

  {% block content %}
    <p>Missing content!</p>
  {% endblock %}

  <a href="#" class="scrollToTop"></a>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/site/js/bootstrap.min.js"></script>
<script src="/site/js/tm-scripts.js"></script>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>

<!-- VK Widget -->

<script type="text/javascript">
  VK.Widgets.Group("vk_groups", {mode: 0, width: "460", height: "620", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 73236283);
</script>
<!-- </script> -->


</body>
</html>
