<div class="map">
    <div id="google-map" class="map_model" data-zoom="10"></div>
    <ul class="map_locations">
        <li data-x="34.5525797" data-y="49.5814095" data-basic="/site/images/gmap_marker.png" data-active="images/gmap_marker_active.png">
            <div class="location">
                <h3 class="txt-clr1">
                    Придбання
                    <small>
                        путівок
                    </small>
                </h3>
                <address>
                    <dl>
                        <dt>Телефон: </dt>
                        <dd class="phone"><a>(067) 40 06 088; (066) 16 55 880</a></dd>
                    </dl>
                    <dl>
                        <dt>Адреса: </dt>
                        <dd>м. Полтава, пров. Шевченка, 20</dd>
                    </dl>
                    <dl>
                        <dt>Години: </dt>
                        <dd>з 9-00 до 18-00 будні</dd>
                    </dl>
                    <dl>
                        <dt> E-mail: </dt>
                        <dd><a href="mailto:s_tabir2016@ukr.net">s_tabir2016@ukr.net</a></dd>
                    </dl>
                </address>

            </div>
        </li>

        <li data-x="34.5879975" data-y="49.7845793" data-basic="/site/images/gmap_marker2.png" data-active="images/gmap_marker_active.png">
            <div class="location">
                <h3 class="txt-clr1">
                    ДОТ
                    <small>
                        "Сонячний"
                    </small>
                </h3>
                <address>
                    <dl>
                        <dt>Телефон: </dt>
                        <dd class="phone"><a>(067) 40 06 088; (066) 16 55 880</a></dd>
                    </dl>
                    <dl>
                        <dt>Адреса: </dt>
                        <dd>с. Михайлівка</dd>
                    </dl>
                    <dl>
                        <dt>Години: </dt>
                        <dd>з 9-00 до 18-00 будні</dd>
                    </dl>
                    <dl>
                        <dt> E-mail: </dt>
                        <dd><a href="mailto:s_tabir2016@ukr.net">s_tabir2016@ukr.net</a></dd>
                    </dl>
                </address>

            </div>
        </li>
    </ul>
</div>
