{% extends 'layout.html' %}

{% block content %}

<main>

  <section class="well well4">
    <div class="container">
      <h2 class='offs5'>
        Нашi
        <small>
          фото
        </small>
      </h2>
      <div class="row offs3">
        {% for x, album in albums %}

          <div class="col-md-4 col-sm-12 col-xs-12">
          <a class="thumb" data-fancybox-group='1' href="/album/{{album._id.toString()}}">
            <img class="" src="{{album.preview.path}}" alt="">
            <span class='thumb_overlay'></span>
          </a>
          <p class="lead">
            {{album.title}}
          </p>
          <p class="ins767-1">
            Дата проведення: {{album.time}}
          </p>
          <p class="ins767-1">
            Кiлькiсть фото: {{album.count}} <a href="/album/{{album._id.toString()}}" class="btn-link l-h1 fa-angle-right"></a>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

</main>

{% include "./footer.html" %}

{% endblock %}