{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                МЕДИЧНА
                <small>
                    СЛУЖБА
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Сучасний медпункт працює цілодобово і без вихідних</b></p>
                    <p>Якщо дитина захворіла або відчуває нездужання, йому оперативно нададуть першу допомогу, проведуть діагностику, призначать і проведуть відповідне лікування.</p>
                    <br>
                    <p><b>Співробітники медичної служби беруть участь у всьому, що відбувається в таборі</b></p>
                    <p>Співробітники медичної служби «Сонячний» - практикують досвідчені педіатри і медсестри. У нас працює 2 лікарі, 4 медсестри. </p>
                    <p>Вони постійно стежать за здоров'ям дітей під керівництвом головного лікаря.</p>
                    <p>Медперсонал присутній на спортивних майданчиках, на пляжі під час купання і сонячних ванн, контролює процес приготування їжі.</p>
                    <p>Діти, яким потрібен особливий режим, постійно перебувають під наглядом лікарів. </p>
                    <p>Лікарі стежать, щоб вони приймали ліки вчасно.</p>
                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Всі діти потрапляють в табір з  медичною картою</b></p>
                    <p>В день заїзду співробітники медичної служби оглядають усіх новоприбулих.</p>
                    <p>Табір не приймає дітей з інфекційними захворюваннями, а також з важкими формами хронічних захворювань.</p>
                    <p>Якщо дитина захворіла в таборі, його направляють до лікаря на обстеження.</p>
                    <p>Лікар може прийняти рішення залишити дитину в палаті медичного корпусу на карантин.</p>
                    <p>В палаті зручне ліжко. </p>
                </div>
            </div>
        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}
