    {% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                ПРАВИЛА ВНУТРІШНЬОГО РОЗПОРЯДКУ

            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p>Ми дуже хочемо, щоб дні в таборі для кожної дитини були безпечними та комфортними. Щоб дитині в ДОТ «Сонячний» було цікаво і весело. Щоб відпочинок пройшов з користю для здоров'я. Тому для безпеки дітей, ми ввели прості правила поведінки для всіх без винятку.</p>
                    <br>
                    <p> - Дотримуватися правил внутрішнього розпорядку та режим дня<p>
                    <p> - На території табору категорично заборонено вживання будь-яких спиртних напоїв (в тому числі пива і енергетичних напоїв), куріння, вживання та розповсюдження наркотиків <p>
                    <p> - Заборонено виходити за територію табору самовільно без супроводу співробітника табору<p>
                    <p> - Заборонено розводити вогонь, використовувати горючі предмети в приміщенні і кімнатах проживання (сірники, запальнички)<p>
                    <p> - Заборонено брати в табір колючі і ріжучі предмети, а також петарди, вибухонебезпечні і легкозаймисті речовини<p>
                    <p> - Заборонено наносити моральну шкоду і образи іншим дітям і дорослим<p>
                    <p> - Заборонені будь-які види дискримінації та прояви неповаги через відмінності за національністю, віросповіданням, віком або достатку<p>
                    <p> - Заборонено шуміти після відбою, порушувати відпочинок інших мешканців табору<p>
                    <p> - Заборонено вживати нецензурні слова і вирази<p>
                    <p> - Заборонено наносити матеріальний збиток майну табору та інших установ, об'єктів природи, а також майну інших відпочиваючих дітей і дорослих<p>
                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <img src="/site/images/rules.jpg" style="width: 500px">
                </div>
            </div>
            <h3 style="text-decoration: underline;text-align: center">За порушення любого із цих пунктів  вашу дитину можуть відрахувати з табору без відшкодування путівки.</h3>


        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}
