    {% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                ПРАВИЛА ВНУТРІШНЬОГО РОЗПОРЯДКУ

            </h2>
            <div class="row offs1">
                <div class="col-md-12 col-sm-12 ti">
                    <p>- <b>1.</b>	Необхідні документи для прийому дитини в дитячий табір:</p>
                    <p>- путівка</p>
                    <p>- Медична картка (копія), довідка про епідеміологічне оточення, виписка про щеплення</p>
                    <p>- Копія свідоцтва про народження або паспорт</p>
                    <p>- <b>2.</b>.	В ДОТ «СОНЯЧНИЙ» приймаються діти у віці від 6 до 17 років. Тривалість зміни – 21 день. </p>
                    <p>- <b>3.</b>Прийом дітей, які прибувають в індивідуальному порядку, проводиться в день заїзду не раніше 08:00 і не пізніше 20:00, від'їзд - в день виїзду НЕ пізніше 20:00.</p>
                    <p>- <b>4.</b>При організованому заїзді група дітей в день заїзду прибуває до табору з супроводжуючими, які здійснює передачу дітей і їх документів адміністрації табору за списком. В день виїзду супроводжують прибуває до табору для отримання документів і подальшого супроводу групи дітей до місця слідування</p>
                    <p>- <b>5.</b>Побажання по розміщенню дітей приймаються від батьків при купівлі путівки. Досвід підказує, що відпочинок в одному загоні 14 річного та 8 річного дитини не буде корисним та вдалим через різницю інтересів, фізичного і психологічного розвитку. Якщо родичи чи друзі потраплять в різні загони, то вони  будуть бачитися  один з одним  щодня та коли захочуть. Остаточне формування загонів відбувається після приїзду дітей у табір виключно за віковим принципом. Адміністрація залишає за собою право перевести дитину в інший загін.</p>
                    <p>- <b>6.</b>Перед відправкою в табір кожна дитина повинна пройти медичний огляд за місцем проживання та надати при заїзді в табір медичні довідки.</p>
                    <p>- <b>7.</b>Дитина вважається прийнятим в табір після проходження медичного огляду лікарем табору, при наявності всіх правильно заповнених документів. При виявлених протипоказання для перебування в таборі за станом здоров'я, а також діти, які не мають медичних довідок, або з внесеними в неї неправдивими даними, повертаються додому з батьками.  </p>
                    <p>- <b>8.</b>Якщо Вашій дитині необхідно по курсу лікування приймати які-небудь медичні препарати, Ви повинні письмово повідомити про це лікаря табору і передати йому ці препарати.</p>
                </div>
            </div>

        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}
