{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                Відправка дітей
                <small>
                    у табір
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Як відбувається відправка дітей у табір?</b></p>
                    <p>У день заїзду, вказаний в путівці, Ви повинні привезти свою дитину до табору. При собі мати путівку і медичні документи дитини (обов'язкова інформація про хронічні захворювання, профщеплення, епідемконтакт). Реєстрація дітей проходить з 8.00 до 10.00.
                        При реєстрації спочатку необхідно пройти огляд у лікаря табору. Лікар має право відмовити дитині в прийомі в табір за наявності явних проблем із здоров'ям, відсутності медичних документів або їх невірному оформленні.
                        Після цього представник адміністрації табору зареєструє Вашу дитину в загін згідно з її віком. Педагоги загону запропонують Вам заповнити особову картку дитини і приймуть у Вас дитину, її путівку і медичні документи.</p>
                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Як відбувається розподіл дітей у загони? </b></p>
                    <p>Розподіл у загони відбувається згідно з віком дітей.
                        Адміністрація табору залишає за собою право в день заїзду переводити дітей із загону в загін без узгодження з ними або їх батьками.
                        Якщо Ви привозите свою дитину в табір вже після формування загонів, адміністрація табору направить Вашу дитину в загін, що максимально відповідає її віку, але в якому буде вільне місце.</p>
                </div>
            </div>
        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}
