{% extends 'layout.html' %}

{% block content %}

<!--========================================================
                          CONTENT
=========================================================-->
<style>
    .ti p {
        text-indent: 20px;
    }
</style>
<main>

    <section class="well well2 bg1">
        <div class="container">
            <h2>
                Відвідування дітей
                <small>
                    у таборі
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Коли можна відвідати дитину в таборі?</b></p>
                    <p>Відвідування дітей у таборі можливе в суботу та неділю з 8.30 до 13.00 і з 16.00 до 19.00. З 13.30 до 16.00 в таборі тиха година, діти в цей час сплять і відвідування заборонені.
                        Відвідування дітей особами в стані алкогольного або наркотичного сп'яніння не допускається.</p>
                    <p>Приїхавши в табір, повідомьте черговим прізвище та ім'я Вашої дитини і номер її загону. Педагог загону приведе дитину до Вас. Ви можете провести час  із дитиною на спеціально відведеному для цього місці біля центральних воріт. Ви також можете забрати свою дитину за територію табору до 19.00, повідомивши педагога загону і написавши заяву стандартного зразка. На цей час Ви переймаєте на себе повну відповідальність за збереження життя і здоров'я Вашої дитини. Якщо Вам необхідно забрати дитину на ніч, Ви повинні погодити це з адміністрацією табору особисто.</p>
                    <p><i>Увага! Відповідно до Санітарних правил і норм України, Типового положення про дитячі заміські табори, а також Правил внутрішнього розпорядку ДОТ "Сонячний", пересування батьків і інших сторонніх осіб по території табору, а тим більше відвідування ними спальних корпусів і інших приміщень категорично заборонене.</i></p>
                </div>
                <div class="col-md-6 col-sm-12 ti">
                    <p><b>Які продукти передати дитині?</b></p>
                    <p>Шановні батьки! Привозьте дитині таку кількість продуктів, яку вона зможе з'їсти за один раз. Звертайте увагу на термін реалізації, вказаний на привезених продуктах. Перелік продуктів, заборонених для передачі дітям, що відпочивають у таборі:</p>
                    <p>- газовані напої (окрім мінеральної води);</p>
                    <p>- компоти;</p>
                    <p>- тістечка, торти, будь-які вироби з кремом або наповнювачем;</p>
                    <p>- сухарики, чіпси;</p>
                    <p>- молочні продукти;</p>
                    <p>- перші страви;</p>
                    <p>- будь-яка копченина, ковбаса, котлети, пельмені, інші страви з м’яса, птиці, риби;</p>
                    <p>- грибні страви;</p>
                    <p>- салати, соління;</p>
                    <p>- консерви;</p>
                    <p>- майонез, кетчуп, інші соуси та приправи;</p>
                    <p>- суп, пюре, локшина швидкого приготування;</p>
                </div>
            </div>
        </div>
    </section>


    <!--========================================================
                          FOOTER
  =========================================================-->
    <footer class="top-border">

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Всі права захищені  &#169; <span id="copyright-year"></span>
                    <a rel="nofollow" href="http://www.makesoft.org/" target="_blank">Makesoft - We Develop your Future</a>
                </p>
            </div>
        </section>
    </footer>

</main>

{% endblock %}
